<%= form_for [@project, @entity] do |f| %>
  <div><%= f.label :path %></div>
  <div><%= f.text_field :path %></div>
  <div>Content</div>
  <div><textarea name="content"></textarea></div>
  <div><%= f.submit "Create" %></div>
<% end %>
