{{ define "content" }}
<h1>Login</h1>
<form method="post" action="/login">
  <div>Login ID: <input type="text" name="user.login_id"></div>
  <div>Password: <input type="password" name="user.password"></div>
  <div><input type="submit" value="Login"></div>
</form>
{{ end }}
