<h1>All Projects</h1>

<h2>Actions</h2>
<ul>
  <li><%= link_to 'Create New Project', new_project_path %></li>
</ul>

<h2>Projects</h2>
<ul>
<% @projects.each do |p| %>
  <li><%= link_to p.name, p %> [<%= link_to 'Delete', project_path(p), :method => :delete %>]</li>
<% end %>
</ul>
