<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>codestand editor</title>
    <script src="/assets/js/editor.js"></script>
  </head>
  <body>
    {{ template "content" . }}
  </body>
</html>
