<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form method="post" action="/register">
      <div>Login ID: <input type="text" name="user.login_id"></div>
      <div>Password: <input type="password" name="user.password"></div>
      <div><input type="submit" value="Register"></div>
    </form>
  </body>
</html>
